<header id="masthead" class="header-directive: ; clearfix">
    <div class="prl-header-right">
        <span class="prl-header-custom-text"><i class="fa fa-phone-square"></i> +1636028327</span>
        <span class="prl-header-time"><i class="fa fa-comments"></i> Ms Hường - Nhân viên tuyển dụng Tập đoàn TMS</span>
    </div>	
</header>

<nav id="nav" class="header-navigation: ; prl-navbar" role="navigation">
    <div class="nav-wrapper"> <div class='nav-container clearfix'>
            <ul class="sf-menu" id="sf-menu">
                <li class="menu_item-home current"><a href="#home"><i class="fa fa-home"></i> Homepage</a>
                <li>
                    <a href="#intro"><i class="fa fa-file-text"></i> Giới thiệu</a>                   
                </li>

                <li>
                    <a href=""><i class="fa fa-plane"></i> Tuyển dụng thực tập sinh</a>
                    <ul>
                        <li><a href="#category?cat=4">Tuển dụng Nhật Bản</a></li>
                        <li><a href="#category?cat=5">Tuển dụng Đài Loan</a></li>
                    </ul>
                </li>

                <li>
                    <a href=""><i class="fa fa-bolt"></i> Thông tin cần biết</a>
                    <ul>
                        <li><a href="#category?cat=7">Quy trình lao động</a></li>
                        <li><a href="#category?cat=6">Chính sách nhà nước</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#contact"><i class="fa fa-envelope"></i> Liên hệ</a>
                </li>	

            </ul>

           

        </div>	
    </div><!-- nav-wrapper -->

</nav>