
<div class="prl-container">

    <div class="prl-grid prl-grid-divider">
        <section id="main" class="prl-span-9">
			<div>
				
<h2>Đường dây nóng tiếp nhận yêu cầu, câu hỏi của khách hàng</h2>
<p align="justify" style="margin-left: 0pt; margin-top: 10px;">
    Trong mọi tình huống chúng tôi sẵn phục vụ quý khách 24/7.</p>
<p align="justify" style="margin-left: 30px; margin-top: 10px;">
    <img align="middle" alt="" src="http://baohiem247.vn/images/call_center_01.png" style="vertical-align: baseline;"> 
    </p>
<p style="margin-top: 20px;">
    <b>Đường dây nóng tại TMS HR</b></p>
<p style="margin-left: 30px;">
    <img align="middle" alt="" src="http://baohiem247.vn/Images/bu03.gif" style="vertical-align: baseline;"> Trung tâm dịch vụ khách hàng 24/7:
    <span style="color: rgb(255, 0, 0); font-weight: bold;"><b>01636028327 Ms Hường </b> </span></p>
<p style="margin-left: 30px; margin-top: 10px;">
    <img align="middle" alt="" src="http://baohiem247.vn/Images/bu03.gif" style="vertical-align: baseline;"> CÔNG TY CỔ PHẦN TMS NHÂN LỰC
<br/>Trụ sở chính : Tầng 3, tòa nhà Vimeco, Lô E9, Phạm Hùng, Cầu Giấy, Hà Nội <br/>
Tel : 01636028327 - Ms Hường <br/>
Tư vấn XKLĐ : huongdt@tmshr.com.vn</p>
<p style="margin-top: 20px; margin-bottom: 10px;">
			</div>
            <!-- orders -->       
            <div class="order-list-directive: ; prl-panel" number="all" type ="{{category.type}}" category="{{category.title}}"  > </div> 
            
            <div class="prl-panel ads-default"><div class="a90">790 x 90</div></div> 
                                         
        </section>
        
        <aside id="sidebar" class="side-bar-directive: ; prl-span-3" >           
        </aside>
    </div><!--.prl-grid-->
</div>
