
<div class="prl-container">

    <div class="prl-grid prl-grid-divider">
        <section id="main" class="prl-span-9"> 
           	Công ty TMS :Tầng 3 – Tòa nhà Vimeco – Lô E9, Phạm Hùng, Cầu Giấy, Hà Nội <br/>
			Phòng Nhật Bản: Số 6, Lô 4B, đường Vũ Phạm Hàm, Trung Yên 1, Cầu Giấy, Hà Nội <br/>
			gặp chị Hường : 016.888.11676- cán bộ tuyển dụng
        </section>
        
        <aside id="sidebar" class="side-bar-directive: ; prl-span-3" >           
        </aside>
    </div><!--.prl-grid-->
</div>
