
<div class="prl-container">
    <div class="prl-grid prl-grid-divider">
        <section id="main" class="prl-span-9" >			
			<article> 
                <div class="prl-span-12">
                <h3 class="prl-article-title"><a href="#order-detail?{{article.post_link}}">{{article.post_title}}</a> </h3> 
                <div class="prl-article-meta">
                    <i class="fa fa-calendar-o"></i> <span>Nov 18th, 2013</span>&nbsp;&nbsp;
                </div>    
                <p class="prl-entry-content" ng-bind-html="article.post_content"></p>
            </div>  
            </article>
        </section>
        
        <aside id="sidebar" class="side-bar-directive: ; prl-span-3" >           
        </aside>
    </div><!--.prl-grid-->
</div>
