
<div class="prl-container">

    <div class="prl-grid prl-grid-divider">
        <section id="main" class="prl-span-9">
			<div>
				Hay Lien he vs chung toi qua duong day nong 
			</div>
            <!-- orders -->       
            <div class="order-list-directive: ; prl-panel" number="all" type ="{{category.type}}" category="{{category.title}}"  > </div> 
            
            <div class="prl-panel ads-default"><div class="a90">790 x 90</div></div> 
                                         
        </section>
        
        <aside id="sidebar" class="side-bar-directive: ; prl-span-3" >           
        </aside>
    </div><!--.prl-grid-->
</div>
