
<div class="prl-container">

    <div class="prl-grid prl-grid-divider">
        <section id="main" class="prl-span-9"> 
			<h1> Chúng tôi tư vấn, định hướng hoàn toàn miễn phí</h1>
			<h2>
				Cán bộ tuyển dụng Nhật Bản: (Ms) Dương Hường - 01636028327
			</h2>
			<h2>
				Cán bộ tuyển dụng Nhật Bản: (Mr) Dương Huy - 01688811676
			</h2>
			<h2>
				Cán bộ tuyển dụng Nhật Bản: (Mr) Tuấn Anh - 01672287380
			</h2>
			<p>
           	Công ty TMS :Tầng 3 – Tòa nhà Vimeco – Lô E9, Phạm Hùng, Cầu Giấy, Hà Nội <br/>
			Phòng Nhật Bản: Số 6, Lô 4B, đường Vũ Phạm Hàm, Trung Yên 1, Cầu Giấy, Hà Nội <br/>
			gặp chị Hường : 016.888.11676 - cán bộ tuyển dụng
			</p>
        </section>
        
        <aside id="sidebar" class="side-bar-directive: ; prl-span-3" >           
        </aside>
    </div><!--.prl-grid-->
</div>
