
<div class="prl-container">

    <div class="prl-grid prl-grid-divider">
        <section id="main" class="prl-span-9"> 
           			
			<p><strong>Lời chào của ban điều hành</strong></p>
			<p>Công ty cổ phần TMS nhân lực (TMS HR) &nbsp;từ khi thành lập cho tới nay đã nhận được sự quan tâm tin tưởng từ phía khách hàng, từ tận đáy lòng mình chúng tôi muốn gửi tới quý khách hàng lời cám ơn sâu sắc và chúng tôi mong sau này vẫn nhận được sự quan tâm đó.</p>
			<p>Kể từ ngày thành lập, Công ty chúng tôi khởi nghiệp từ ngành xuất khẩu lao động ra nước ngoài và đạt được những thành tích nhất định trong các lĩnh vực bán vé máy bay nội địa, giới thiệu việc làm trong nước&nbsp;kinh doanh bất động sản. Đặc biệt, trong lĩnh vực phái cử thực tập sinh (TTS) kỹ năng sang Nhật thì công ty cổ phần TMS nhân lực là doanh nghiệp ngoài quốc doanh đầu tiên và duy nhất được cấp phép. Trong công cuộc này, chúng tôi phái cử sang Nhật những TTS khỏe mạnh, có kỹ năng tốt và có khả năng giao tiếp tiếng Nhật tốt. Chúng tôi đảm bảo tuân thủ pháp luật Việt Nam và Nhật Bản, cũng như các quy định của chương trình TTS. Sau này chúng tôi cũng mong nhận được sự chỉ giáo và giúp đỡ.</p>
			<p>Khái lược công ty</p>
			<p>•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Tên công ty: Công ty cổ phần TMS nhân lực</strong></p>
			<p>•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Viết tắt&nbsp;TMS HR., JSC</p>
			<p>•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ngày thành lập:&nbsp;6/8/2004</p>
			<p>•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Số lượng nhân viên: 200 người</p>
			<p><strong>Trụ sở chính</strong></p>
			<p>•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Địa chỉ</strong>: Tầng 3, tòa nhà Vimeco, Lô E9, Phạm Hùng, Trung Hòa, Cầu giấy, Hà Nội, Việt Nam</p>
			<p>•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Điện thoại:</strong>&nbsp;84-4-73 004 388 &nbsp; &nbsp;<strong>Fax:&nbsp;</strong>84-4-37690019</p>
			<p>•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Website:&nbsp;http://tmshr.com.vn</strong></p>
			<p><strong>Quá trình thành lập</strong></p>
			<p>&nbsp;</p>
			<p><strong>Năm 2004</strong></p>
			<p>•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Thành lập công ty trách nhiệm hữu hạn phái cử lao động sang các thị trường Đài Loan, Malaisia, Dubai, Canada</p>
			<p><strong>Năm 2005</strong></p>
			<p>•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Thành lập trung tâm bán vé máy bay trong nước</p>
			<p>•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Thành lập trung tâm giới thiệu việc làm trong nước</p>
			<p>•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Bắt đầu đầu tư và kinh doanh bất động sản</p>
			<p>•</p>
			<p><strong>Năm 2006</strong></p>
			<p>•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Bắt đầu công việc phái cử TNS sang Nhật</p>
			<p>•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Lọt vào TOP 10 công ty xuất khẩu lao động lớn nhất Việt Nam</p>
			<p>&nbsp;</p>
			<p><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Năm 2007&nbsp;</strong></p>
			<p>•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Lọt vào TOP 100 doanh nhận xuất sắc nhất Việt Nam</p>
			<p>•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Dẫn đầu thị trường xuất khẩu lao động sang Đài Loan ở Việt Nam (Chiếm 20% số lao động Việt Nam làm việc tại Việt Nam)</p>
			<p><strong>Năm 2012</strong></p>
			<p>Theo đánh giá của Hiệp hội Xuất khẩu lao động Việt Nam – VAMAS, TMS HR tự hào là một trong 3 Công ty đứng đầu ở Việt Nam trong lĩnh vực phái cử thực tập sinh sang Nhật Bản</p>
			<p>Năm 2013</p>
			<p>Mặc dù chịu nhiều ảnh hưởng của khủng hoảng kinh tế trong nước và thế giới, nhưng Công ty tiếp tục mở rộng quy mô hoạt động nâng cao chất lượng dịch vụ và ngày càng nhận được nhiều sự tin tưởng trong ngành XKLĐ cũng như chất lượng nhân lực phái cử.</p>
			<p>&nbsp;</p>
			<p><span style="font-family: Arial, sans-serif;"><strong>Trung tâm đào tạo</strong></span></p>
			<p><span style="font-family: Arial, sans-serif;">(Đang cập nhật…)</span></p>
			<p>&nbsp;</p>
			<p><strong>Các ngành nghề kinh doanh</strong></p>
			<p>•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Bán vé máy bay trong nước</p>
			<p>•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Giới thiệu việc làm trong nước</p>
			<p>•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Đầu tư bất động sản</p>
			<p>•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Phái cử TTS kỹ năng ra nước ngoài</p>
			<p>•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Các hiệp hội TMS tham gia là thành viên</p>
			<p><strong>Các cơ quan quản lý</strong></p>
			<p>•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Bộ lao động thương binh xã hội Việt Nam&nbsp;MOLISA</p>
			<p>•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hội đồng nhân dân thành phố Hà nội&nbsp;HPC</p>
			<p>•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Cơ quan hợp tác tu nghiệp quốc tế&nbsp;JITCO</p>
			<p>•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hiệp hội xuất khẩu lao động Việt Nam&nbsp;VAMAS</p>
			<p>•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Hội liên hiệp các nghiệp đoàn hỗ trợ kinh doanh toàn quốc&nbsp;NBCC</p>
        </section>
        
        <aside id="sidebar" class="side-bar-directive: ; prl-span-3" >           
        </aside>
    </div><!--.prl-grid-->
</div>
