 <h5 class="prl-block-title amber">{{category}}  <span class="prl-block-title-link right"><a href="#!category?cat={{type}}" ng-show="number != 'all'">ALL POSTS <i class="fa fa-caret-right"></i></a></span></h5>
<article class="prl-article">
	<a class="prl-thumbnail" href="#!">
		<span class="prl-overlay">
			<img ng-src="{{article.post_img}}" alt="Xuat khau lao dong">
			<span class="prl-overlay-area o-video"></span>
		</span>
	</a>
	<h3 class="prl-article-title"><a href="#!order-detail?{{article.post_link}}">{{article.post_title}}</a> </h3> 
	<div class="prl-article-meta">
		<i class="fa fa-calendar-o"></i> Nov 18th, 2013&nbsp;&nbsp;
	</div>    
	<p>{{article.post_subtitle}}</p>
</article>