<div class="widget widget-recent-post prl-panel">

    <ul class="prl-list prl-list-line">
        <li>
            <article class="clearfix">
                <a  class="prl-thumbnail"><img src="assets/images/bldtbxh.jpg" alt="Xuat khau lao dong"></a>               
            </article>
        </li>
        <li>
            <article class="clearfix">
                <a  class="prl-thumbnail"><img src="assets/images/logo_bo_cong_thuong.png" alt="Xuat khau lao dong"></a>               
            </article>
        </li>
        <li>
            <article class="clearfix">
                <a  class="prl-thumbnail"><img src="assets/images/logo_cuc_quan_ly.png" alt="Xuat khau lao dong"></a>               
            </article>
        </li>
    </ul>

</div>  

<div border="0" cellpadding="0" cellspacing="0" width="100%" class="widget widget-recent-post prl-panel">
	<h5 class="prl-block-title">Liên hệ</h5>	

    <ul class="prl-list prl-list-line">
        <li>
            <article class="clearfix">             
                <div>
                    <a href="ymsgr:sendim?huong_contact" class="yahoo">
						<img src="http://opi.yahoo.com/online?u=huong_contact&amp;m=g&amp;t=2&amp;l=us" title="tulip_den113" alt="tulip_den113" border="0" width="120px">
							<div class="support_title">Cán Bộ Tuyển dụng - Ms. Dương Hường (01636.028.327)</div>
					</a>
                </div>
            </article>
        </li>
        <li>
            <article class="clearfix">
                <div>
                     <a href="ymsgr:sendim?tulip_den113" class="yahoo">
						<img src="http://opi.yahoo.com/online?u=tulip_den113&amp;m=g&amp;t=2&amp;l=us" title="tulip_den113" alt="tulip_den113" border="0" width="120px">
							<div class="support_title">Cán Bộ Tuyển dụng - Ms. Dương Huy (01636.028.327)</div>
					</a>
                </div>
            </article>
        </li>
		<li>
            <article class="clearfix">
                <div>
                    <a href="callto:leptqtms">
					<img src="http://mystatus.skype.com/smallclassic/anhntbk08" alt="leptqtms" title="leptqtms" width="120px">
						<div class="support_title">Cán Bộ Tuyển dụng Nhật Bản - Mr. Tuấn Anh (0986.894.309)</div>
					</a>
                </div>
            </article>
        </li>		
    </ul>
	
</div>

<div id="facebook-like-widget-2" class="widget facebook-widget prl-panel"><h5 class="prl-block-title">Facebook</h5>
    <div class="fw-wrapper">
        <div class="fw-inner">
            <iframe src="http://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fxuat.khau.lao.dong.2014&amp;width=500&amp;colorscheme=light&amp;border_color=white&amp;show_faces=true&amp;stream=false&amp;header=false&amp;height=260" id="facebook-iframe" ></iframe>

        </div>
    </div>
</div>

<!--
<div id="archives-3" class="widget widget-weather prl-panel">
    <h5 class="prl-block-title">Weather</h5>
    <div class="wt_wrapper">
        <div class="today">
            <div class="clearfix">
                <div class="left">
                    <h3>TODAY</h3>
                    <p class="degree">32<i class="wi-degrees"></i></p>
                    <p><strong>Kuala Lumpur</strong></p>
                </div>
                <div class="right"><div class="today_icon"><i class="wi-day-lightning"></i></div></div>
            </div>
            <ul class="info_list">
                <li><strong><span>Overcast</span></strong> <i class="wi-thermometer"></i> 31<i class="wi-degrees"></i> / 34<i class="wi-degrees"></i></li>
                <li><span><i class="fa fa-umbrella"></i> 49%</span> <span><i class="wi-strong-wind"></i> 12.87km/h </span><i class="fa fa-compass"></i> NW</li>
            </ul>
        </div>	
        <hr class="prl-divider">
        <div class="next_days clearfix">
            <div class="next_days_item">
                <p><strong>FRI</strong></p>
                <p><i class="wi-day-sunny-overcast"></i></p>
                30<i class="wi-degrees"></i> / 35<i class="wi-degrees"></i>
            </div>
            <div class="next_days_item">
                <p><strong>SAT</strong></p>
                <p><i class="wi-lightning"></i></p>
                30<i class="wi-degrees"></i> / 35<i class="wi-degrees"></i>
            </div>
            <div class="next_days_item last">
                <p><strong>SUN</strong></p>
                <p><i class="wi-cloudy"></i></p>
                30<i class="wi-degrees"></i> / 35<i class="wi-degrees"></i>
            </div>

        </div>

    </div>    
</div>     



-->
